<h1>Create a Drunkard account </h1>
<%= render 'shared/error_messages' %>
<div class="row">
<%= form_for(@user) do |f| %>
	<%= f.text_field :name, :placeholder => "Name" %><br/>
	<%= f.text_field :height, :placeholder => "Height (in cm)" %><br/>
	<%= f.text_field :weight, :placeholder => "Weight (in kg)" %><br/>
	<h3><%= f.submit "Create my account", class: "btn.submit" %></h3>
<% end %>
